@use "../../../styles/variables.scss" as var;

.header-main {
    width: 100%;
    height: 80px;
    position: sticky;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    gap: 50px;
    padding: 10px 25px;
    box-sizing: border-box;
    overflow: hidden;
    color: var.$primary-color;
    z-index: 10;

    .logo-section {
        width: auto;
        height: 5vh;
        display: flex;
        align-items: center;
        justify-content: center;

        img {
            width: auto;
            height: 100%;
        }
    }

    .icons-container {
        cursor: pointer;
        color: var.$primary-color;
        z-index: 11;
    }

    .mobile-menu-container {
        position: fixed;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        background-color: var.$white;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        gap: 50px;
        overflow: hidden;
        overflow-y: auto;

        
    .menu-section {
        flex-direction: column;
    }
    }

    .menu-section {
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-direction: row;
        gap: 40px;

        .menu-item {
            font-size: 16px;
            font-weight: 600;
            cursor: pointer;

            &.menu-active {
                color: var.$secondary-color;
                font-weight: 700;
            }
        }
    }

    .hire-section {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: row;

        &-button {
            padding: 8px 25px; 
            box-sizing: border-box;
            background-color: var.$secondary-color;
            font-size: 16px;
            font-weight: 700;
            border-radius: 50px;
        }
    }
}